@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F4F0;
  font-family: "Lato", serif;
}

.organizador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.organizador main {
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: rgb(0, 0, 140);
  border-radius: 18px;
  overflow: hidden;
  margin-top: 1%;
  width: 97%;
  margin-top: 0%;
  margin-bottom: 1.5%;
}

.logo-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-cont div {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: white;
  overflow: hidden;
  margin-top: 2%;
  margin-bottom: 1%;
}
.logo-cont div img {
  height: 100%;
  width: 100%;
}

footer {
  background-color: rgb(0, 0, 140);
  border-radius: 18px;
  overflow: hidden;
  width: 97%;
  margin-top: 1.5%;
}

.color-link {
  color: #F6F4F0;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-footer div {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
}
.logo-footer div img {
  width: 100%;
  height: 100%;
}

.home-section {
  width: 97%;
  border-radius: 18px;
  overflow: hidden;
}
.home-section div {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(6, 1fr);
}
.home-section div div {
  background: radial-gradient(rgba(48, 48, 48, 0.25) -22%, #141414 130%);
  grid-row: 1/8;
  grid-column: 1/7;
  order: 10;
}
.home-section div img {
  grid-row: 1/8;
  grid-column: 1/7;
  width: 100%;
  height: 100%;
  order: 0;
}
.home-section div h1 {
  grid-row: 3/5;
  grid-column: 2/6;
  font-size: 22px;
  color: #F6F4F0;
  order: 20;
  text-align: center;
  font-weight: 600;
  margin-bottom: 8%;
  text-shadow: 0 0 2.2px #F6F4F0;
}
.home-section div a {
  grid-row: 5/6;
  grid-column: 2/6;
  height: 26px;
  width: 40%;
  align-self: center;
  justify-self: center;
  order: 20;
  background-color: #e27a02;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section div a button {
  color: #F6F4F0;
  font-size: 11px;
}
.home-section div a:hover {
  background-color: #F2972B;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.about-section h2 {
  font-size: 22px;
  color: #141414;
  margin-bottom: 10%;
}
.about-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section div div {
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.about-section div div svg {
  margin-bottom: 2%;
  height: 78px;
  width: 78px;
}
.about-section div div div {
  flex-direction: column;
  align-items: center;
}
.about-section div div div h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3%;
}
.about-section div div div p {
  font-size: 14px;
}

.img-about-section {
  width: 97%;
  background-color: #06356b;
  border-radius: 18px;
  margin-bottom: 8%;
}
.img-about-section h2 {
  color: #F6F4F0;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 5%;
}

.section-carrusel {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider {
  border-radius: 10px;
  height: 200px;
  position: relative;
  display: flex;
}

.slider-controller {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
  z-index: 10;
}
.slider-controller svg path {
  color: #F6F4F0;
}

.btn-slider-left {
  position: absolute;
  top: 50%;
  left: 4%;
}

.btn-slider-left:hover {
  cursor: pointer;
}

.btn-slider-right {
  position: absolute;
  top: 50%;
  right: 4%;
}

.btn-slider-right:hover {
  cursor: pointer;
}

.slider-indicators {
  background-color: transparent;
  width: 100%;
  height: 8%;
  position: absolute;
  z-index: 10;
  top: 84%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5%;
}

.indicador {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

.indicador:hover {
  cursor: pointer;
}

.indicador-active {
  box-shadow: 0px 0px 10px 2.5px white;
}

.slider--inner {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}
.slider--inner div {
  width: 100%;
  height: 100%;
  position: absolute;
}
.slider--inner div img {
  width: 100%;
  height: 100%;
}

.primer-img {
  z-index: 20;
}

.videos-about-section {
  width: 97%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;
}
.videos-about-section h2 {
  font-size: 20px;
  font-weight: 600;
  color: #242127;
  margin-bottom: 10%;
}
.videos-about-section div {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videos-about-section div div {
  margin-bottom: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videos-about-section div div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
}
.videos-about-section div div div h3 {
  margin-bottom: 5%;
  font-size: 18px;
  color: #141414;
}
.videos-about-section div div div p {
  font-size: 14px;
  margin-bottom: 3%;
}
.videos-about-section div div div iframe {
  width: 100%;
  border-radius: 18px;
  height: 270px;
}

.feedback-section {
  width: 97%;
  background-color: #06356b;
  border-radius: 18px;
  margin-bottom: 8%;
}
.feedback-section div:first-child h2 {
  font-size: 20px;
  font-weight: 600;
  color: #F6F4F0;
  margin-top: 8%;
  margin-bottom: 10%;
}
.feedback-section div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
}

.feedback-card {
  background-color: #F6F4F0;
  border-radius: 18px;
  width: 290px;
  margin-bottom: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedback-card div:first-child {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedback-card div:first-child div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0% 0%;
  margin-bottom: 6%;
}
.feedback-card div:first-child div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: -5% 12%;
}
.feedback-card div:nth-child(2) {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 6%;
}
.feedback-card div:nth-child(2) h4 {
  font-size: 18px;
  font-weight: 600;
}
.feedback-card div:nth-child(2) p:nth-child(1) {
  font-size: 16px;
}
.feedback-card div:nth-child(2) p:last-child {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 12px;
}

.access-section div {
  margin-top: 8%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.access-section div h2 {
  font-size: 16px;
  margin-bottom: 6%;
  font-weight: 600;
}
.access-section div a {
  width: 55%;
  height: 34px;
  text-align: center;
  font-size: 14px;
  background-color: #e27a02;
  color: #F6F4F0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.access-section div a:hover {
  background-color: #F2972B;
}

.partners-section {
  width: 97%;
  border-radius: 18px;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners-section div {
  margin-top: 5%;
  margin-bottom: 5%;
}
.partners-section div h2 {
  font-weight: 600;
  font-size: 16px;
  color: #F6F4F0;
}

.temporal-flyers {
  width: 100%;
  margin-top: 8%;
  margin-bottom: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flyers-title {
  margin-top: 4%;
  margin-bottom: 6%;
}
.flyers-title h2 {
  font-size: 18px;
  font-weight: 600;
}

.flyers-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flyers-card {
  width: 270px;
  height: 320px;
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 6%;
}
.flyers-card img {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont-profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont-profile-img img {
  height: 100%;
  width: 100%;
}

.cont-edit-profile {
  margin-top: 5%;
  margin-bottom: 5%;
}
.cont-edit-profile p {
  color: rgb(0, 0, 140);
  font-size: 14px;
}
.cont-edit-profile p:hover {
  cursor: pointer;
  color: #9cccd4;
}

#avisoCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 3%;
  width: 100%;
}
#avisoCont p {
  width: 80%;
  font-size: 12px;
  height: 60px;
  color: black;
  background-color: #F2972B;
  padding: 2% 4%;
  text-align: center;
}

.logout-cont {
  margin-top: 4%;
  margin-bottom: 10%;
  width: 50%;
}
.logout-cont button {
  width: 100%;
  height: 36px;
  background-color: red;
  font-size: 14px;
  color: white;
  border-radius: 8px;
}

.form-section {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.form-section form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-form-cont {
  margin-top: 8%;
  margin-bottom: 6%;
}
.title-form-cont h1 {
  font-size: 22px;
}

.input-cont {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 4%;
}
.input-cont input {
  width: 100%;
  height: 36px;
  border-width: 0.8px;
  border-color: rgb(94, 94, 94);
  border-radius: 8px;
  margin-top: 1%;
  padding: 4%;
}
.input-cont input::placeholder {
  font-size: 14px;
}

.input-cont {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 4%;
}
.input-cont input {
  width: 100%;
  height: 36px;
  border-width: 0.8px;
  border-color: rgb(94, 94, 94);
  border-radius: 8px;
  margin-top: 1%;
  padding: 4%;
}
.input-cont input::placeholder {
  font-size: 14px;
}

.text-area-cont {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 4%;
}
.text-area-cont textarea {
  width: 100%;
  height: 200px;
  border-width: 0.8px;
  border-color: rgb(94, 94, 94);
  border-radius: 8px;
  margin-top: 1%;
  padding: 4%;
}
.text-area-cont textarea::placeholder {
  font-size: 14px;
}

.select-cont {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 4%;
}
.select-cont select {
  width: 100%;
  height: 36px;
  border-width: 0.8px;
  border-color: rgb(94, 94, 94);
  border-radius: 8px;
  padding: 4%;
  font-size: 14px;
}
.select-cont select option {
  color: black;
}

.reset-password-cont {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.reset-password-cont p {
  font-size: 14px;
  color: blue;
  text-align: center;
}
.reset-password-cont p:hover {
  cursor: pointer;
  color: #9cccd4;
}

.cont-change-pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 8%;
  width: 80%;
}
.cont-change-pass div {
  width: 100%;
  margin-bottom: 5%;
}
.cont-change-pass p {
  text-align: center;
  margin-bottom: 4%;
  font-size: 14px;
}
.cont-change-pass button {
  width: 100%;
  height: 36px;
  background-color: blue;
  color: white;
  border-radius: 8px;
}

.btn-login-cont {
  width: 80%;
  margin-top: 5%;
  margin-bottom: 12%;
}
.btn-login-cont button {
  width: 100%;
  height: 36px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6%;
}
.btn-login-cont button svg {
  width: 26px;
  height: 26px;
}
.btn-login-cont p {
  margin-top: 10%;
  text-align: center;
  font-size: 16px;
}
.btn-login-cont p a {
  color: blue;
}
.btn-login-cont p a:hover {
  cursor: pointer;
  color: #9cccd4;
}

.search-section {
  width: 85%;
  margin-bottom: 8%;
  margin-top: 2%;
}

.filters-cont {
  width: 100%;
}
.filters-cont p {
  text-align: center;
  color: blue;
  font-size: 15px;
  margin-bottom: 5%;
}
.filters-cont p:hover {
  cursor: pointer;
  color: rgb(0, 89, 255);
}

.check-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15%;
}
.check-cont input {
  width: 20px;
  height: 20px;
  margin-right: 3%;
}

.filters-off {
  display: none;
}

.filters-on {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.select-cont-search {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 3%;
}
.select-cont-search select {
  width: 100%;
  height: 36px;
  border-width: 0.8px;
  border-color: rgb(94, 94, 94);
  border-radius: 8px;
  padding: 2% 4%;
  font-size: 14px;
}
.select-cont-search select option {
  color: black;
}

.results-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile-card {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 18px;
  margin-bottom: 8%;
  box-shadow: 0px 0px 12px 1px #242127;
}

.img-profile-card {
  margin-top: 5%;
  margin-bottom: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-profile-card div {
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
}
.img-profile-card div img {
  width: 100%;
  height: 100%;
}

.content-profile-card div {
  margin-bottom: 6%;
}
.content-profile-card div div:first-child {
  margin-bottom: 8%;
}
.content-profile-card div div:first-child p {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.content-profile-card div div:last-child {
  padding-left: 6%;
  padding-right: 6%;
}
.content-profile-card div div:last-child p {
  font-size: 12px;
}

input:disabled {
  cursor: not-allowed;
  background-color: rgb(221, 221, 221);
}

select:disabled {
  cursor: not-allowed;
  background-color: rgb(221, 221, 221);
}

textarea:disabled {
  cursor: not-allowed;
  background-color: rgb(221, 221, 221);
}

.check-cont-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;
}
.check-cont-profile input {
  width: 20px;
  height: 20px;
  margin-right: 3%;
}
.check-cont-profile p {
  text-align: center;
  color: black;
  font-size: 14px;
}

.admin-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.title-admin-section {
  display: none;
}

.text-black {
  color: #141414 !important;
}

.advertencia-vista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 5%;
}
.advertencia-vista div svg {
  width: 150px;
  height: 150px;
}
.advertencia-vista p {
  text-align: center;
  font-size: 16px;
}

.accept-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.accept-options div svg {
  width: 48px;
  height: 48px;
}
.accept-options div svg:hover {
  cursor: pointer;
  width: 52px;
  height: 52px;
}

@media (min-width: 375px) {
  header {
    margin-bottom: 1.2%;
  }
  .home-section div h1 {
    font-size: 24px;
  }
  .about-section h2 {
    font-size: 24px;
  }
  .img-about-section {
    margin-bottom: 10%;
  }
  .img-about-section h2 {
    font-size: 20px;
    margin-top: 4%;
    margin-bottom: 2%;
  }
  .section-carrusel {
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .slider {
    height: 220px;
  }
  .videos-about-section h2 {
    font-size: 22px;
    margin-bottom: 8%;
  }
  .videos-about-section div div div {
    margin-bottom: 4%;
  }
  .feedback-section {
    margin-bottom: 8%;
  }
  .feedback-section div:first-child h2 {
    font-size: 22px;
  }
  .feedback-card {
    margin-bottom: 6%;
  }
  .access-section div h2 {
    font-size: 18px;
  }
  .partners-section div h2 {
    font-size: 18px;
  }
  .temporal-flyers {
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .flyers-title {
    margin-top: 4%;
    margin-bottom: 6%;
  }
  .flyers-title h2 {
    font-size: 18px;
  }
  .flyers-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flyers-card {
    width: 300px;
    height: 380px;
    margin-bottom: 6%;
  }
}
@media (min-width: 425px) {
  .home-section div h1 {
    font-size: 26px;
  }
  .home-section div a {
    height: 32px;
  }
  .home-section div a button {
    font-size: 14px;
  }
  .about-section div div div h3 {
    font-size: 20px;
  }
  .videos-about-section h2 {
    font-size: 24px;
    margin-bottom: 8%;
  }
  .section-carrusel {
    margin-top: 5%;
  }
  .slider {
    height: 280px;
  }
  .indicador {
    width: 8px;
    height: 8px;
  }
  .feedback-section {
    margin-bottom: 8%;
  }
  .feedback-section div:first-child h2 {
    font-size: 24px;
  }
  .access-section div h2 {
    font-size: 18px;
  }
  .access-section div a {
    height: 36px;
    font-size: 16px;
  }
  .temporal-flyers {
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .flyers-title {
    margin-top: 4%;
    margin-bottom: 6%;
  }
  .flyers-title h2 {
    font-size: 18px;
  }
  .flyers-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flyers-card {
    width: 310px;
    height: 400px;
    margin-bottom: 6%;
  }
  .title-form-cont {
    margin-top: 8%;
    margin-bottom: 5%;
  }
  .title-form-cont p {
    font-size: 24px;
  }
  .form-section {
    width: 80%;
    border-radius: 10px;
  }
  .form-section form {
    width: 100%;
  }
  .input-cont {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  .input-cont input {
    width: 100%;
    height: 38px;
    border-width: 0.8px;
    margin-top: 1%;
    padding: 4%;
  }
  .input-cont input::placeholder {
    font-size: 14px;
  }
  .cont-change-pass {
    margin-top: 5%;
    margin-bottom: 8%;
    width: 80%;
  }
  .cont-change-pass div {
    width: 100%;
    margin-bottom: 4%;
  }
  .cont-change-pass p {
    text-align: center;
    margin-bottom: 5%;
    font-size: 16px;
  }
  .cont-change-pass button {
    height: 38px;
    border-radius: 8px;
  }
  .btn-login-cont {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 12%;
  }
  .btn-login-cont button {
    width: 100%;
    height: 38px;
    border-radius: 8px;
    margin-bottom: 4%;
    gap: 6%;
  }
  .btn-login-cont button svg {
    width: 26px;
    height: 26px;
  }
  .btn-login-cont h1 {
    margin-top: 10%;
    font-size: 16px;
  }
  .profile-avatar {
    width: 80%;
  }
  .cont-profile-img {
    width: 140px;
    height: 140px;
  }
  .cont-edit-profile {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .cont-edit-profile p {
    font-size: 14px;
  }
  .logout-cont {
    margin-top: 4%;
    margin-bottom: 10%;
    width: 45%;
  }
  .logout-cont button {
    width: 100%;
    height: 38px;
    font-size: 14px;
    border-radius: 8px;
  }
  #avisoCont {
    margin-bottom: 5%;
    margin-top: 3%;
  }
  #avisoCont p {
    width: 60%;
    font-size: 12px;
    height: 60px;
    padding: 2% 4%;
  }
  .text-area-cont {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  .text-area-cont textarea {
    width: 100%;
    height: 200px;
    border-width: 0.8px;
    border-radius: 8px;
    margin-top: 1%;
    padding: 4%;
  }
  .text-area-cont textarea::placeholder {
    font-size: 14px;
  }
  .select-cont {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  .select-cont select {
    width: 100%;
    height: 40px;
    border-width: 0.8px;
    border-color: rgb(94, 94, 94);
    border-radius: 8px;
    padding: 4%;
    font-size: 14px;
  }
  .select-cont select option {
    color: black;
  }
  .check-cont-profile {
    width: 100%;
    margin-bottom: 5%;
  }
  .check-cont-profile input {
    width: 20px;
    height: 20px;
    margin-right: 3%;
  }
  .check-cont-profile p {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  header {
    margin-bottom: 0.7%;
    width: 98%;
  }
  .home-section {
    width: 98%;
  }
  .home-section div h1 {
    font-size: 44px;
    text-shadow: 0 0 3.8px #F6F4F0;
  }
  .home-section div a {
    height: 34px;
    width: 28%;
  }
  .home-section div a button {
    font-size: 15px;
  }
  .about-section {
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .about-section h2 {
    font-size: 26px;
    margin-bottom: 6%;
  }
  .about-section div {
    flex-direction: row;
    align-items: flex-start;
  }
  .about-section div div {
    margin-bottom: 3%;
  }
  .about-section div div div h3 {
    font-size: 22px;
  }
  .about-section div div div p {
    padding: 0% 4%;
  }
  .img-about-section {
    width: 98%;
    margin-bottom: 4%;
  }
  .img-about-section h2 {
    font-size: 26px;
    margin-top: 4%;
    margin-bottom: 1%;
  }
  .slider {
    height: 400px;
  }
  .indicador {
    width: 10px;
    height: 10px;
  }
  .videos-about-section {
    margin-bottom: 4%;
  }
  .videos-about-section h2 {
    font-size: 26px;
    margin-bottom: 8%;
  }
  .videos-about-section div {
    flex-direction: row;
  }
  .videos-about-section div div div {
    padding: 0% 6%;
  }
  .videos-about-section div div div p {
    margin-bottom: 2%;
  }
  .feedback-section {
    margin-bottom: 6%;
  }
  .feedback-section div:first-child {
    margin-bottom: 2%;
  }
  .feedback-section div:first-child h2 {
    font-size: 26px;
  }
  .feedback-card {
    width: 680px;
    margin-bottom: 6% !important;
    flex-direction: row !important;
  }
  .feedback-card div:first-child {
    margin-left: 5%;
  }
  .feedback-section {
    width: 98%;
    margin-bottom: 8%;
  }
  .feedback-section div:first-child h2 {
    font-size: 24px;
  }
  .access-section {
    width: 98%;
  }
  .access-section div {
    margin-top: 4%;
    margin-bottom: 12%;
  }
  .access-section div h2 {
    font-size: 20px;
  }
  .access-section div a {
    width: 45%;
    height: 36px;
    font-size: 16px;
  }
  .partners-section {
    width: 98%;
  }
  .partners-section div h2 {
    font-size: 20px;
  }
  .temporal-flyers {
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .flyers-title {
    margin-top: 4%;
    margin-bottom: 6%;
  }
  .flyers-title h2 {
    font-size: 20px;
  }
  .flyers-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flyers-card {
    width: 400px;
    height: 500px;
    margin-bottom: 6%;
  }
  footer {
    margin-top: 0.7%;
    width: 98%;
  }
  .title-form-cont {
    margin-top: 8%;
    margin-bottom: 5%;
  }
  .title-form-cont h1 {
    font-size: 26px;
  }
  .form-section {
    width: 75%;
    border-radius: 10px;
  }
  .form-section form {
    width: 100%;
  }
  .input-cont {
    width: 80%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }
  .input-cont input {
    width: 100%;
    height: 40px;
    border-width: 0.8px;
    margin-top: 1%;
    padding: 2.5% 3%;
  }
  .input-cont input::placeholder {
    font-size: 14px;
  }
  .reset-password-cont {
    width: 100%;
    margin-top: 4%;
  }
  .reset-password-cont p {
    font-size: 16px;
  }
  .cont-change-pass {
    margin-top: 5%;
    margin-bottom: 8%;
    width: 80%;
  }
  .cont-change-pass div {
    width: 100%;
    margin-bottom: 3%;
  }
  .cont-change-pass p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 3%;
  }
  .cont-change-pass button {
    height: 40px;
    border-radius: 8px;
  }
  .btn-login-cont {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 12%;
  }
  .btn-login-cont button {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 3%;
    gap: 3%;
  }
  .btn-login-cont button svg {
    width: 26px;
    height: 26px;
  }
  .btn-login-cont p {
    margin-top: 10%;
    font-size: 18px;
  }
  .profile-avatar {
    width: 80%;
    margin-top: 2%;
  }
  .cont-profile-img {
    width: 150px;
    height: 150px;
  }
  .cont-edit-profile {
    margin-top: 5%;
    margin-bottom: 3%;
  }
  .cont-edit-profile p {
    font-size: 16px;
  }
  .logout-cont {
    margin-top: 3.5%;
    margin-bottom: 5%;
    width: 30%;
  }
  .logout-cont button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
  }
  #avisoCont {
    margin-bottom: 4%;
    margin-top: 3%;
  }
  #avisoCont p {
    width: 50%;
    font-size: 15px;
    height: 70px;
    padding: 2% 4%;
  }
  .text-area-cont {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 3.5%;
  }
  .text-area-cont textarea {
    width: 100%;
    height: 200px;
    border-width: 0.8px;
    border-radius: 8px;
    margin-top: 1%;
    padding: 2.8%;
  }
  .text-area-cont textarea::placeholder {
    font-size: 14px;
  }
  .select-cont {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  .select-cont select {
    width: 100%;
    height: 40px;
    border-width: 0.8px;
    border-radius: 8px;
    padding: 2%;
    font-size: 16px;
    margin-top: 1%;
  }
  .select-cont select option {
    color: black;
  }
  .select-cont select::placeholder {
    color: black;
  }
  .check-cont-profile {
    width: 100%;
    margin-bottom: 5%;
  }
  .check-cont-profile input {
    width: 22px;
    height: 22px;
    margin-right: 2.5%;
  }
  .check-cont-profile p {
    font-size: 16px;
  }
  .search-section {
    width: 85%;
    margin-bottom: 5%;
  }
  .filters-cont {
    width: 100%;
  }
  .filters-cont p {
    font-size: 15px;
    margin-bottom: 4%;
  }
  .check-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 12%;
  }
  .check-cont input {
    width: 22px;
    height: 22px;
    margin-right: 2%;
  }
  .filters-off {
    display: none;
  }
  .filters-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .category-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .select-cont-search {
    width: 60%;
    margin-top: 1%;
    margin-bottom: 2%;
  }
  .select-cont-search select {
    width: 100%;
    height: 40px;
    border-width: 0.8px;
    border-radius: 8px;
    padding: 2%;
    font-size: 14px;
  }
  .results-section {
    width: 100%;
    min-height: 100vh;
  }
  .profile-card {
    width: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    margin-bottom: 5%;
  }
  .img-profile-card {
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-profile-card div {
    width: 130px;
    height: 130px;
  }
  .img-profile-card div img {
    width: 100%;
    height: 100%;
  }
  .content-profile-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-profile-card div {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .content-profile-card div div:first-child {
    margin-bottom: 4%;
  }
  .content-profile-card div div:first-child p {
    font-size: 20px;
  }
  .content-profile-card div div:last-child {
    padding-left: 3%;
    padding-right: 3%;
  }
  .content-profile-card div div:last-child p {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  header {
    margin-bottom: 0.6%;
    width: 99%;
  }
  .home-section {
    width: 99%;
  }
  .home-section div h1 {
    font-size: 60px;
    text-shadow: 0 0 4.4px #F6F4F0;
  }
  .home-section div a {
    height: 40px;
    width: 25%;
  }
  .home-section div a button {
    font-size: 18px;
  }
  .about-section {
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .about-section h2 {
    font-size: 30px;
    margin-bottom: 6%;
  }
  .about-section div {
    flex-direction: row;
  }
  .about-section div div {
    margin-bottom: 3%;
  }
  .about-section div div svg {
    height: 96px;
    width: 96px;
  }
  .about-section div div div h3 {
    font-size: 24px;
  }
  .about-section div div div p {
    font-size: 18px;
    padding: 0% 4%;
  }
  .img-about-section {
    width: 99%;
    margin-bottom: 3%;
  }
  .img-about-section h2 {
    font-size: 30px;
    margin-top: 4%;
    margin-bottom: 1%;
  }
  .slider {
    height: 600px;
    width: 80%;
  }
  .indicador {
    width: 12px;
    height: 12px;
  }
  .videos-about-section {
    margin-bottom: 2%;
  }
  .videos-about-section h2 {
    font-size: 30px;
    margin-bottom: 8%;
  }
  .videos-about-section div {
    flex-direction: row;
  }
  .videos-about-section div div div {
    padding: 0% 8%;
  }
  .videos-about-section div div div h3 {
    font-size: 24px;
  }
  .videos-about-section div div div p {
    margin-bottom: 2%;
    font-size: 18px;
  }
  .videos-about-section div div div iframe {
    height: 300px;
  }
  .feedback-section {
    margin-bottom: 6%;
  }
  .feedback-section div:first-child {
    margin-bottom: 2%;
    margin-top: 1%;
  }
  .feedback-section div:first-child h2 {
    font-size: 30px;
  }
  .feedback-card {
    width: 800px;
    margin-bottom: 3%;
    flex-direction: row !important;
  }
  .feedback-card div:first-child {
    margin-left: 5%;
  }
  .feedback-card div:nth-child(2) h4 {
    font-size: 20px;
  }
  .feedback-card div:nth-child(2) p:nth-child(1) {
    font-size: 18px;
  }
  .feedback-card div:nth-child(2) p:last-child {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 16px;
  }
  .access-section {
    width: 99%;
  }
  .access-section div {
    margin-top: 4%;
    margin-bottom: 12%;
  }
  .access-section div h2 {
    font-size: 26px;
    margin-bottom: 8%;
  }
  .access-section div a {
    width: 44%;
    height: 42px;
    font-size: 16px;
  }
  .partners-section {
    width: 99%;
    margin-bottom: 0%;
  }
  .partners-section div h2 {
    font-size: 24px;
  }
  .temporal-flyers {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .flyers-title {
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .flyers-title h2 {
    font-size: 24px;
  }
  .flyers-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
  }
  .flyers-card {
    width: 420px;
    height: 530px;
    margin-bottom: 4%;
  }
  footer {
    margin-top: 0.6%;
    width: 99%;
  }
  .title-form-cont {
    margin-top: 8%;
    margin-bottom: 5%;
  }
  .title-form-cont h1 {
    font-size: 30px;
  }
  .form-section {
    width: 70%;
    min-height: 95vh;
    border-radius: 10px;
    justify-content: flex-start;
  }
  .form-section form {
    width: 100%;
  }
  .input-cont {
    width: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .input-cont input {
    width: 100%;
    height: 40px;
    border-width: 0.8px;
    margin-top: 1%;
    padding: 2.5% 2%;
  }
  .input-cont input::placeholder {
    font-size: 16px;
  }
  .reset-password-cont {
    width: 100%;
    margin-top: 4%;
  }
  .reset-password-cont p {
    font-size: 18px;
  }
  .cont-change-pass {
    margin-top: 5%;
    margin-bottom: 8%;
    width: 80%;
  }
  .cont-change-pass div {
    width: 100%;
    margin-bottom: 3%;
  }
  .cont-change-pass p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 3%;
  }
  .cont-change-pass button {
    height: 46px;
    border-radius: 8px;
  }
  .btn-login-cont {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 12%;
  }
  .btn-login-cont button {
    width: 100%;
    height: 46px;
    border-radius: 8px;
    margin-bottom: 3%;
    gap: 3%;
  }
  .btn-login-cont button svg {
    width: 26px;
    height: 26px;
  }
  .btn-login-cont p {
    margin-top: 10%;
    font-size: 20px;
  }
  .profile-avatar {
    width: 80%;
    margin-top: 1%;
  }
  .cont-profile-img {
    width: 160px;
    height: 160px;
  }
  .cont-edit-profile {
    margin-top: 4%;
    margin-bottom: 2%;
  }
  .cont-edit-profile p {
    font-size: 18px;
  }
  .logout-cont {
    margin-top: 3%;
    margin-bottom: 4%;
    width: 26%;
  }
  .logout-cont button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
  }
  #avisoCont {
    margin-bottom: 3.5%;
    margin-top: 3%;
    width: 100%;
  }
  #avisoCont p {
    width: 45%;
    font-size: 18px;
    height: 90px;
    padding: 2% 4%;
  }
  .text-area-cont {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2.5%;
  }
  .text-area-cont textarea {
    width: 100%;
    height: 200px;
    border-width: 0.8px;
    border-radius: 8px;
    margin-top: 1%;
    padding: 2.8%;
  }
  .text-area-cont textarea::placeholder {
    font-size: 14px;
  }
  .select-cont {
    width: 80%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }
  .select-cont select {
    width: 100%;
    height: 40px;
    border-width: 0.8px;
    border-radius: 8px;
    padding: 1% 2%;
    font-size: 16px;
    margin-top: 1%;
  }
  .select-cont select option {
    color: black;
  }
  .check-cont-profile {
    width: 100%;
    margin-bottom: 5%;
  }
  .check-cont-profile input {
    width: 24px;
    height: 24px;
    margin-right: 2.5%;
  }
  .check-cont-profile p {
    font-size: 18px;
  }
  .title-admin-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .title-admin-section h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  .admin-section {
    justify-content: flex-start;
  }
  .advertencia-vista {
    display: none;
  }
  .search-section {
    width: 85%;
    margin-bottom: 3%;
  }
  .filters-cont {
    width: 100%;
  }
  .filters-cont p {
    font-size: 15px;
    margin-bottom: 2%;
  }
  .check-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10%;
  }
  .check-cont input {
    width: 22px;
    height: 22px;
    margin-right: 1%;
  }
  .filters-off {
    display: none;
  }
  .filters-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .category-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .select-cont-search {
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .select-cont-search select {
    width: 100%;
    height: 40px;
    border-width: 0.8px;
    border-radius: 8px;
    padding: 2%;
    font-size: 14px;
  }
  .results-section {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 4%;
  }
  .profile-card {
    width: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    margin-bottom: 4%;
  }
  .img-profile-card {
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-profile-card div {
    width: 150px;
    height: 150px;
  }
  .img-profile-card div img {
    width: 100%;
    height: 100%;
  }
  .content-profile-card {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-profile-card div {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .content-profile-card div div:first-child {
    margin-bottom: 4%;
  }
  .content-profile-card div div:first-child p {
    font-size: 20px;
  }
  .content-profile-card div div:last-child {
    padding-left: 3%;
    padding-right: 3%;
  }
  .content-profile-card div div:last-child p {
    font-size: 15px;
  }
}
@media (min-width: 1230px) {
  header {
    margin-bottom: 0.4%;
    width: 99%;
  }
  .home-section {
    width: 99%;
  }
  .home-section div h1 {
    font-size: 70px;
    text-shadow: 0 0 6px #F6F4F0;
  }
  .home-section div a {
    height: 44px;
    width: 24%;
  }
  .home-section div a button {
    font-size: 22px;
  }
  .about-section {
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .about-section h2 {
    font-size: 36px;
    margin-bottom: 6%;
  }
  .about-section div {
    flex-direction: row;
  }
  .about-section div div {
    margin-bottom: 3%;
  }
  .about-section div div svg {
    height: 104px;
    width: 104px;
  }
  .about-section div div div h3 {
    font-size: 26px;
  }
  .about-section div div div p {
    font-size: 20px;
    padding: 0% 4%;
  }
  .img-about-section {
    margin-bottom: 3%;
  }
  .img-about-section h2 {
    font-size: 38px;
    margin-top: 4%;
    margin-bottom: 0%;
  }
  .slide {
    height: 800px;
  }
  .videos-about-section {
    margin-bottom: 1.5%;
  }
  .videos-about-section h2 {
    font-size: 36px;
    margin-bottom: 5%;
  }
  .videos-about-section div {
    width: 100%;
    flex-direction: row;
  }
  .videos-about-section div div div {
    padding: 0% 8%;
  }
  .videos-about-section div div div h3 {
    font-size: 28px;
  }
  .videos-about-section div div div p {
    margin-bottom: 1%;
    font-size: 20px;
  }
  .videos-about-section div div div iframe {
    height: 340px;
  }
  .feedback-section {
    margin-bottom: 4%;
  }
  .feedback-section div:first-child {
    margin-bottom: 2%;
    margin-top: 1%;
  }
  .feedback-section div:first-child h2 {
    font-size: 36px;
  }
  .feedback-section div:last-child {
    flex-direction: row;
    align-items: flex-start;
    gap: 4%;
  }
  .feedback-card {
    width: 350px;
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    flex-direction: column !important;
  }
  .feedback-card div:first-child {
    margin: auto;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
  }
  .feedback-card div:nth-child(2) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .feedback-card div:nth-child(2) h4 {
    font-size: 20px;
  }
  .feedback-card div:nth-child(2) p:nth-child(1) {
    font-size: 18px;
  }
  .feedback-card div:nth-child(2) p:last-child {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 16px;
  }
  .access-section {
    width: 99%;
  }
  .access-section div {
    margin-top: 4%;
    margin-bottom: 12%;
  }
  .access-section div h2 {
    font-size: 30px;
    margin-bottom: 6%;
  }
  .access-section div a {
    width: 44%;
    height: 48px;
    font-size: 20px;
  }
  .partners-section {
    width: 99%;
    margin-bottom: 0%;
  }
  .partners-section div h2 {
    font-size: 30px;
  }
  .temporal-flyers {
    margin-top: 4%;
    margin-bottom: 3%;
  }
  .flyers-title {
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .flyers-title h2 {
    font-size: 30px;
  }
  .flyers-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
  }
  .flyers-card {
    width: 380px;
    height: 520px;
    margin-bottom: 4%;
  }
  footer {
    margin-top: 0.4%;
    width: 99%;
  }
  .title-form-cont {
    margin-top: 8%;
    margin-bottom: 5%;
  }
  .title-form-cont h1 {
    font-size: 32px;
  }
  .form-section {
    width: 70%;
    min-height: 95vh;
    border-radius: 10px;
    justify-content: flex-start;
  }
  .form-section form {
    width: 100%;
  }
  .input-cont {
    width: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .input-cont input {
    width: 100%;
    height: 45px;
    border-width: 0.8px;
    margin-top: 1%;
    padding: 1.5% 2%;
  }
  .input-cont input::placeholder {
    font-size: 16px;
  }
  .reset-password-cont {
    width: 100%;
    margin-top: 4%;
  }
  .reset-password-cont p {
    font-size: 18px;
  }
  .cont-change-pass {
    margin-top: 5%;
    margin-bottom: 6%;
    width: 80%;
  }
  .cont-change-pass div {
    width: 100%;
    margin-bottom: 3%;
  }
  .cont-change-pass p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 3%;
  }
  .cont-change-pass button {
    height: 48px;
    border-radius: 8px;
    font-size: 18px;
  }
  .btn-login-cont {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 12%;
  }
  .btn-login-cont button {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 3%;
    font-size: 18px;
    gap: 2%;
  }
  .btn-login-cont button svg {
    width: 26px;
    height: 26px;
  }
  .btn-login-cont p {
    margin-top: 8%;
    font-size: 20px;
  }
  .profile-avatar {
    width: 80%;
    margin-top: 0.5%;
  }
  .cont-profile-img {
    width: 160px;
    height: 160px;
  }
  .cont-edit-profile {
    margin-top: 4%;
    margin-bottom: 2%;
  }
  .cont-edit-profile p {
    font-size: 20px;
  }
  .logout-cont {
    margin-top: 3%;
    margin-bottom: 4%;
    width: 22%;
  }
  .logout-cont button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
  }
  #avisoCont {
    margin-bottom: 3%;
    margin-top: 3%;
    width: 100%;
  }
  #avisoCont p {
    width: 40%;
    font-size: 18px;
    height: 92px;
    padding: 2% 4%;
  }
  .text-area-cont {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .text-area-cont textarea {
    width: 100%;
    height: 200px;
    border-width: 0.8px;
    border-radius: 8px;
    margin-top: 1%;
    padding: 2%;
  }
  .text-area-cont textarea::placeholder {
    font-size: 16px;
  }
  .select-cont {
    width: 80%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }
  .select-cont select {
    width: 100%;
    height: 45px;
    border-width: 0.8px;
    border-radius: 8px;
    padding: 1% 2%;
    font-size: 16px;
    margin-top: 1%;
  }
  .select-cont select option {
    color: black;
  }
  .check-cont-profile {
    width: 100%;
    margin-bottom: 5%;
  }
  .check-cont-profile input {
    width: 24px;
    height: 24px;
    margin-right: 2.5%;
  }
  .check-cont-profile p {
    font-size: 18px;
  }
  .search-section {
    width: 85%;
    margin-bottom: 3%;
  }
  .filters-cont {
    width: 100%;
  }
  .filters-cont p {
    font-size: 16px;
    margin-bottom: 2%;
    margin-top: 1%;
  }
  .check-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 8%;
  }
  .check-cont input {
    width: 22px;
    height: 22px;
    margin-right: 1%;
  }
  .filters-off {
    display: none;
  }
  .filters-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .category-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .select-cont-search {
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .select-cont-search select {
    width: 100%;
    height: 40px;
    border-width: 0.8px;
    border-radius: 8px;
    padding: 1% 2%;
    font-size: 14px;
  }
  .results-section {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 4%;
  }
  .profile-card {
    width: 70%;
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    margin-bottom: 4%;
  }
  .img-profile-card {
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-profile-card div {
    width: 150px;
    height: 150px;
  }
  .img-profile-card div img {
    width: 100%;
    height: 100%;
  }
  .content-profile-card {
    width: 68%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-profile-card div {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .content-profile-card div div:first-child {
    margin-bottom: 4%;
  }
  .content-profile-card div div:first-child p {
    font-size: 20px;
  }
  .content-profile-card div div:last-child {
    padding-left: 3%;
    padding-right: 3%;
  }
  .content-profile-card div div:last-child p {
    font-size: 15px;
  }
}
@media (min-width: 1440px) {
  header {
    margin-bottom: 0.2%;
    width: 99%;
  }
  .home-section {
    width: 99%;
  }
  .home-section div h1 {
    font-size: 76px;
    text-shadow: 0 0 6.8px #F6F4F0;
  }
  .home-section div a {
    height: 44px;
    width: 20%;
  }
  .home-section div a button {
    font-size: 22px;
  }
  .about-section {
    margin-top: 6%;
    margin-bottom: 2%;
  }
  .about-section h2 {
    font-size: 36px;
    margin-bottom: 6%;
  }
  .about-section div {
    flex-direction: row;
  }
  .about-section div div {
    margin-bottom: 3%;
  }
  .about-section div div svg {
    height: 104px;
    width: 104px;
  }
  .about-section div div div h3 {
    font-size: 26px;
  }
  .about-section div div div p {
    font-size: 20px;
    padding: 0% 4%;
  }
  .img-about-section {
    margin-bottom: 1.5%;
  }
  .img-about-section h2 {
    font-size: 38px;
    margin-top: 4%;
    margin-bottom: 0%;
  }
  .slider {
    width: 80%;
  }
  .videos-about-section {
    margin-bottom: 0%;
  }
  .videos-about-section h2 {
    font-size: 36px;
    margin-bottom: 5%;
  }
  .videos-about-section div {
    width: 100%;
    flex-direction: row;
  }
  .videos-about-section div div {
    margin-bottom: 3%;
  }
  .videos-about-section div div div {
    padding: 0% 8%;
  }
  .videos-about-section div div div h3 {
    font-size: 28px;
  }
  .videos-about-section div div div p {
    margin-bottom: 1%;
    font-size: 20px;
  }
  .videos-about-section div div div iframe {
    height: 360px;
  }
  .feedback-section {
    margin-bottom: 2%;
  }
  .feedback-section div:first-child {
    margin-bottom: 2%;
    margin-top: 1%;
  }
  .feedback-section div:first-child h2 {
    font-size: 36px;
  }
  .feedback-section div:last-child {
    flex-direction: row;
    align-items: flex-start;
    gap: 4%;
  }
  .feedback-card {
    width: 380px;
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    flex-direction: column !important;
  }
  .feedback-card div:first-child {
    margin: auto;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
  }
  .feedback-card div:nth-child(2) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .feedback-card div:nth-child(2) h4 {
    font-size: 20px;
  }
  .feedback-card div:nth-child(2) p:nth-child(1) {
    font-size: 18px;
  }
  .feedback-card div:nth-child(2) p:last-child {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 16px;
  }
  .access-section {
    width: 99%;
  }
  .access-section div {
    margin-top: 4%;
    margin-bottom: 8%;
  }
  .access-section div h2 {
    font-size: 30px;
    margin-bottom: 6%;
  }
  .access-section div a {
    width: 44%;
    height: 48px;
    font-size: 20px;
  }
  .temporal-flyers {
    margin-top: 3%;
    margin-bottom: 2%;
  }
  .flyers-title {
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .flyers-title h2 {
    font-size: 30px;
  }
  .flyers-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }
  .flyers-card {
    width: 400px;
    height: 530px;
    margin-bottom: 4%;
  }
  footer {
    margin-top: 0.2%;
    width: 99%;
  }
  .title-form-cont {
    margin-top: 8%;
    margin-bottom: 5%;
  }
  .title-form-cont h1 {
    font-size: 36px;
  }
  .form-section {
    width: 65%;
    min-height: 95vh;
    border-radius: 10px;
    justify-content: flex-start;
  }
  .form-section form {
    width: 100%;
  }
  .input-cont {
    width: 80%;
    margin-top: 0.8%;
    margin-bottom: 0.8%;
  }
  .input-cont input {
    width: 100%;
    height: 45px;
    border-width: 0.8px;
    margin-top: 1%;
    padding: 1% 2%;
  }
  .input-cont input::placeholder {
    font-size: 18px;
  }
  .reset-password-cont {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 2%;
  }
  .reset-password-cont p {
    font-size: 20px;
  }
  .cont-change-pass {
    margin-top: 2%;
    margin-bottom: 3%;
    width: 80%;
  }
  .cont-change-pass div {
    width: 100%;
    margin-bottom: 3%;
  }
  .cont-change-pass p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 3%;
  }
  .cont-change-pass button {
    height: 48px;
    border-radius: 8px;
    font-size: 18px;
  }
  .btn-login-cont {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 5%;
  }
  .btn-login-cont button {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 2%;
    font-size: 20px;
    gap: 2%;
  }
  .btn-login-cont button svg {
    width: 26px;
    height: 26px;
  }
  .btn-login-cont p {
    margin-top: 8%;
    font-size: 22px;
  }
  .profile-avatar {
    width: 80%;
    margin-top: 0.5%;
  }
  .cont-profile-img {
    width: 170px;
    height: 170px;
  }
  .cont-edit-profile {
    margin-top: 4%;
    margin-bottom: 2%;
  }
  .cont-edit-profile p {
    font-size: 22px;
  }
  .logout-cont {
    margin-top: 3%;
    margin-bottom: 4%;
    width: 22%;
  }
  .logout-cont button {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
  }
  #avisoCont {
    margin-bottom: 2%;
    margin-top: 3%;
    width: 100%;
  }
  #avisoCont p {
    width: 38%;
    font-size: 18px;
    height: 94px;
    padding: 2% 4%;
  }
  .text-area-cont {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .text-area-cont textarea {
    width: 100%;
    height: 200px;
    border-width: 0.8px;
    border-radius: 8px;
    margin-top: 1%;
    padding: 2%;
  }
  .text-area-cont textarea::placeholder {
    font-size: 14px;
  }
  .select-cont {
    width: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .select-cont select {
    width: 100%;
    height: 45px;
    border-width: 0.8px;
    border-radius: 8px;
    padding: 1% 2%;
    font-size: 16px;
    margin-top: 1%;
  }
  .select-cont select option {
    color: black;
  }
  .check-cont-profile {
    width: 100%;
    margin-bottom: 5%;
  }
  .check-cont-profile input {
    width: 24px;
    height: 24px;
    margin-right: 2.5%;
  }
  .check-cont-profile p {
    font-size: 20px;
  }
  .search-section {
    width: 85%;
    margin-bottom: 3%;
  }
  .filters-cont {
    width: 100%;
  }
  .filters-cont p {
    font-size: 18px;
    margin-bottom: 2%;
  }
  .check-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 5%;
  }
  .check-cont input {
    width: 22px;
    height: 22px;
    margin-right: 1%;
  }
  .filters-off {
    display: none;
  }
  .filters-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .category-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .select-cont-search {
    width: 50%;
    margin-top: 0.8%;
    margin-bottom: 0.8%;
  }
  .select-cont-search select {
    width: 100%;
    height: 45px;
    border-width: 0.8px;
    border-radius: 8px;
    padding: 1% 2%;
    font-size: 14px;
  }
  .results-section {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 4%;
  }
  .profile-card {
    width: 64%;
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    margin-bottom: 4%;
  }
  .img-profile-card {
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-profile-card div {
    width: 160px;
    height: 160px;
  }
  .img-profile-card div img {
    width: 100%;
    height: 100%;
  }
  .content-profile-card {
    width: 68%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-profile-card div {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .content-profile-card div div:first-child {
    margin-bottom: 4%;
  }
  .content-profile-card div div:first-child p {
    font-size: 20px;
  }
  .content-profile-card div div:last-child {
    padding-left: 3%;
    padding-right: 3%;
  }
  .content-profile-card div div:last-child p {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
